 *{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 }

 html, body, header {
 	height: 100%;	
 }
html{
	font-size: 10px;
	 font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.nav-wrapper{
	/*position: absolute;*/
	height: 120px;
	/*padding: 0 100px;*/
	display: flex;
	width: 97.5%;
	margin: auto;
	max-width: 1200px;
	align-items: center;
	-ms-align-items: center;
	justify-content: space-between;
}
.topnav{
	display: flex;
	/*width: 70%;*/
	justify-content: flex-end;
	-ms-align-items: center;
	align-items: center;
	margin:15px;

}
/*.nav-link+.nav-link{
	margin-left: 3%;
}*/
.nav-link{
	text-decoration: none;
	color: black;
	display: inline-block;
	font-size: 1.8rem;
	letter-spacing: 0.5px;
	/*margin: 15px;*/
	padding: 10px 15px;
	transition: 0.3s ease-in;
}

.logo{
	font-size: 2.5rem;
	font-weight: bold;
	width: 150px;
	display: inline-block;
}
.search{
	background-image: url(../img/search.png);
	background-position: 0px center; 
	background-size: 13px 13px;
	-webkit-background-size: 13px 13px;
	background-repeat: no-repeat;
	border: none;
	padding-left: 20px;
	font-size: 1.5rem;
	outline: none;
	font-weight: 600;
	letter-spacing: 1px;
	width: 100%;
	padding-bottom: 3px;
	transition: 1.3 ease-in;
}
.header{
	background-image: url(../img/Header.jpg);
	background-repeat: no-repeat;
	height: calc(100%-100px);
	background-size: cover;
	-webkit-background-size: cover;
	background-position: 50% 30%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	-ms-align-items: center;
	color: white;
}
.header:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.header > .box {
	z-index: 1;
	text-align: center;

}
.h1 {
	font-size: 5rem;
	letter-spacing: 2px;
}
.subtitle {
	font-size: 1.8rem;
	letter-spacing: 1.5px;
}
.header-btn,.readmpre{	
	font-size:1.8rem;
	outline: none;
	color:white;
	display: inline-block;
	width: 150px;
	height: 70px;
	background-size: 1.8rem;
	padding: 2rem 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.3s ease-in;
	border: 3px solid transparent;
	font-size: 13px;
	text-align: center;
}
#one, .readmpre{
	border: 4px white solid;
	background:none; 	
}
#two{
	border: none;
	background-color: lightseagreen;
	
}
.header-btn+.header-btn{
	margin:40px;
}
.search-wrapper{
	width: 15%;
}
.search:focus{
	border-bottom: 5px solid
}

.section-subtitle{
	font-size: 1.5rem;
	font-weight: 400;
	max-width: 700px;
	line-height: 1.5;
	letter-spacing: 1.5px;
	margin: auto;

}
.first-item {
	width:30%;
}
.first-box{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	margin-top: 120px;
}
.h2{
	font-size: 4rem;
	margin-bottom: 2rem;
	
}
.h3{
	font-size: 2rem;
	margin: 2.5rem;

}
.icon{
	display: block;
	width: 80px;
	margin: auto;
	max-width: 80px;
	max-height: 80px;
	height: 80px;

}
.first{
	text-align: center;
	padding: 100px 0;
}
.second{
	background-color:#e4fdf9;
}
.second-box{
	flex-wrap: wrap;
	max-width: 1000px;
	justify-content: space-between;
}
.second-item{
	width: calc(100% / 3 - 2%);
	background-color:white;
	margin: 1%;
	padding: 6% 2%;
	transition: 0.3s ease-in;
}
.readmpre{
	color: black;
	border: black solid 2px;
	width: 100%;
}
		
.photo{
	width: 30%;
	transition: 0.4s;
}

.buttonnew{
	width: 100px;
	height: 50px;
	background-color:#00897b;
	transition: 1.5s ease-in;	
	
	
	box-shadow:(0 0 0 1);

}
.tabs{
	width:70%;
	padding: 0;
	margin:auto;
	margin-top: 80px;
}
.tabs>input{display: none;}
.content{
	display: none;
	padding: 12px;
	margin-top: 30px;
}
.tabs>label{
	display: inline-block;
	background-color: white;
	font-size: 2rem;
	border: 2px solid #00898b;
	padding: 5px 10px;
	width: 25%;
	cursor:pointer;
}
.tabs>label[for="tab_2"] {
	margin-left: 20px;
}
.tabs>label[for="tab_3"] {
	margin-left: 20px;
}
.tabs>input:checked + label{
	background-color: #00897b;
	border-color: #00897b;
	color:white;
	z-index:1;
}
#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2,
#tab_3:checked ~ #txt_3 {display: block;}
.contact{
	display: block;
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 30%;
	color:white;
	align-items: center;
	-ms-align-items: center;

}
.contact-box {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	width:70%;
	margin:auto;
	margin-top:120px;

}
.form-box{
	width: 70%;
	margin:auto;
	margin-top: 120px;
}
.form{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}
.input{
	width: 45%;
	height: 60px;
	border-radius: 10px;
	padding-left: 2rem;
	font-size: 2rem;
	outline: none;
	border:none;	
}
.txt{
	width: 100%;
	margin-top: 40px;
	border-radius: 10px;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	outline: none;
	resize: none;

}
